#main-container {
    background-color: rgb(20, 6, 57);
    margin-top: 30px;
}

#sign-in-head {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: rgb(255, 255, 255);
}

#sign-in-comm {
    text-align: center;
    color: rgb(255, 255, 255);
}

#button-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#sign-in-button {
    background-color: rgb(220, 77, 11);
    color: white;
    width: 200px;
    height: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}

#left {
    margin-left: 100px;
}


#log-in-head {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: rgb(255, 255, 255);
}
